* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  text-align: center;
}

.layout {
  width: 85%;
  margin: 0 auto;
}

.header {
  padding: 1rem;
  display: grid;
  grid-template-columns: 15rem auto;
  justify-content: center;
}

article {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
}

.header .logo {
  justify-content: center;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  background: #272727;
  font-family: 'Montserrat', sans-serif;
  color: #f6f4e6;
}

.navMenu {
  margin-left: auto;
  display: grid;
  grid-template-columns: 10%;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding: 0.5em 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #19191a;
  border-radius: 50px 0 50px 0;
}

.navMenu a:hover {
  font-size: 1.25rem;
  color: #fddb3a;
  border-radius: 10px 0 50px 50px;
}

/* 
.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
} */

/* .navMenu a:nth-child(1):hover~.dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover~.dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover~.dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover~.dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
} */

.active {
  color: #fddb3a !important;
}

.div-space {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.div-space hr {
  width: 80%;
  margin: 0 auto;
}
.navMenu ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.navMenu ul li {
  margin-top: 5rem;
}

.marco {
  border-radius: 100px 100px 100px 100px;
  /* ancho - tipo - color
  referencias 
  https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius */
  padding: 10px;
  /* distancia entre la img y el borde */
  margin: 5px;
  /* distancia entre el borde y el contenido */
  width: 120px;
  /* el ancho de la img */
  filter: brightness(70%);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  min-height: max-content;
  margin: 0 10rem;
  margin-bottom: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about {
  position: inherit;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about p {
  margin-bottom: 1rem;
  text-align: left;
  color: white;
}

.about p a {
  font-weight: 600;
  font-style: italic;
  color: #f6f4e6;
  text-decoration: none;
}

.about p a:hover {
  color: #fddb3a;
}

.home > div {
  display: flex;
  justify-content: space-between;
}

.home-div-img {
  width: 35rem;
  max-height: 25rem;
  margin-right: 2rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-snap-stop: always;
}
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.contacto p {
  color: #f6f4e6;
}
.contacto div {
  display: flex;
}

.contacto div > div {
  margin-right: 1rem;
}
.contacto div > div a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding: 0.5em 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #19191a;
  border-radius: 50px 0 50px 0;
}
.contacto div > div a:hover {
  font-size: 1.25rem;
  color: #fddb3a;
  border-radius: 10px 0 50px 50px;
}
.contacto div > div a:hover > p {
  color: #d3bd4e;
  max-width: max-content * 0.1;
}

.imagen1 {
  width: 100%;
  height: 100%;
  background-image: url(https://upqroo.edu.mx/wp-content/uploads/2022/05/DSC_0132-1536x1024.jpg);
  background-size: 100%;
}

footer {
  display: grid;
  grid-template-columns: auto;
  text-align: space-between;
  justify-content: center;
  margin-bottom: 1rem;
}
